includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
	level: 4
	paths:
		- src
	tmpDir: var/cache/phpstan
	inferPrivatePropertyTypeFromConstructor: true
	reportUnmatchedIgnoredErrors: true
	treatPhpDocTypesAsCertain: false
